<h2>Articles have been generated!</h2>

    {{#each story}}
    {{#if saved}}

        <a href="/" class="btn btn-info btn-lg saveArticle">
        <span class="glyphicon glyphicon-heart-empty"></span>
                  View Articles!</a>

    {{/if}}
    {{/each}}
